<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopping</display-name>
  <welcome-file-list>
    <welcome-file>views/top.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.LogoutServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ItemListServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ItemListServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SearchItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.SearchItemServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.CartServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.UpdateCartServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.PurchaseServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>PurchaseHistoryServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.PurchaseHistoryServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>RegisterItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.RegisterItemServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>RegisterDisicionServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.RegisterDisicionServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ViewServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UpdateItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.UpdateItemServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UpdateDisicionServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.UpdateDisicionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDisicionServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.DeleteDisicionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToTopServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToTopServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GoToLoginServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToSearchServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToCartServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToCartServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GoToHistoryServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToHistoryServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GoToAdministrationServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToAdministrationServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GoToAdministrationRegisterServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToAdministrationRegisterServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>GoToAdministrationUpdateServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToAdministrationUpdateServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>GoToAdministrationDeleteServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.GoToAdministrationDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
   <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 <servlet-name>ItemListServlet</servlet-name>
    <url-pattern>/ItemListServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>SearchItemServlet</servlet-name>
    <url-pattern>/SearchItemServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
 <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterItemServlet</servlet-name>
    <url-pattern>/RegisterItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterDisicionServlet</servlet-name>
    <url-pattern>/RegisterDisicionServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>UpdateItemServlet</servlet-name>
    <url-pattern>/UpdateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDisicionServlet</servlet-name>
    <url-pattern>/UpdateDisicionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDisicionServlet</servlet-name>
    <url-pattern>/DeleteDisicionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseHistoryServlet</servlet-name>
    <url-pattern>/PurchaseHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToTopServlet</servlet-name>
    <url-pattern>/GoToTopServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GoToLoginServlet</servlet-name>
    <url-pattern>/GoToLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToItemServlet</servlet-name>
    <url-pattern>/GoToItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToSearchServlet</servlet-name>
    <url-pattern>/GoToSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToCartServlet</servlet-name>
    <url-pattern>/GoToCartServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GoToHistoryServlet</servlet-name>
    <url-pattern>/GoToHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToAdministrationServlet</servlet-name>
    <url-pattern>/GoToAdministrationServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GoToAdministrationRegisterServlet</servlet-name>
    <url-pattern>/GoToAdministrationRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>GoToAdministrationUpdateServlet</servlet-name>
    <url-pattern>/GoToAdministrationUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>GoToAdministrationDeleteServlet</servlet-name>
    <url-pattern>/GoToAdministrationDeleteServlet</url-pattern>
  </servlet-mapping>

</web-app>